/* generici */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

header h1, header h2, header h3 header, h4, header h5, header h6, header a, header p {
  color: #32495b;
}

nav h1, nav h2, nav h3 nav, h4, nav h5, nav h6, nav a, nav p {
  color: #32495b;
}

main h1, main h2, main h3, main h4, main h5, main h6, main a, main p {
  color: #32495b;
}

p {
  line-height: 1.5;
}

.box {
  background-color: white;
  box-shadow: 0px 0px 3px 3px#e6ecf1;
  border-radius: 5px;
}

main .fas.fa-check {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  background-color: #fa775a;
  color: white;
  font-size: 14px;
}

.learnmore-button {
  color: white;
  background-color: #fa775a;
  padding: 20px 35px;
  border-radius: 5px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* generici */


/* specifici */
header {
  width: 100%;
  padding: 30px 0;
  margin: auto;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

header > .container {
  width: 80%;
  margin: auto;
}

header > .container > #languages {
  border-right: 2px solid #899397;
}

header > .container > a:first-child {
  padding: 0 10px 0 0;
}

header > .container > a {
  padding: 0 10px;
}

header > .container > .right {
  float: right;
}

header > .container > .right > .fas.fa-search {
  color: #27a4bd;
}

header > .container > .right > #login {
  margin: 0px 20px;
  padding: 10px;
  color: #fa775a;
  border: 1px solid #fa775a;
  border-radius: 5px;
}

header > .container > .right > .gethubspotlink {
  padding: 10px;
  color: white;
  background-color: #fa775a;
  border-radius: 5px;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 25px 0;
  background-color: white;
}

nav > .container {
  width: 80%;
  margin: auto;
}

nav > .container > img {
  vertical-align: middle;
}

nav > .container > .menu {
  margin-top: 5px;
  list-style: none;
  float: right;
}

nav > .container > .menu > .menuitem {
  display: inline-block;
}

nav > .container > .menu > .menuitem > a {
  padding: 0 10px;
}

#modern-block {
  height: 695px;
  background-image: url("img/jumbotron.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FEF4EE;
  position: relative;
}

#modern-block::after {
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #AFEBE4;
  border-top: 3px solid #33475D;
  border-bottom: 3px solid #33475D;
}

#modern-block > #modern-block-info {
  width: 600px;
  margin-left: 10%;
}

#modern-block > #modern-block-info > h1 {
  margin-bottom: 30px;
  padding-top: 50px;
  font-size: 50px;
}

#modern-block > #modern-block-info > p:first-of-type {
  margin-bottom: 60px;
}

#modern-block > #modern-block-info > .gethubspotlink {
  padding: 20px 50px;
  color: white;
  background-color: #fa775a;
  border-radius: 5px;
}

#modern-block > #modern-block-info > p:last-of-type {
  margin-top: 60px;
}

#cards-info {
  width: 100%;
  background-color: #f4f9fd;
}


#cards-info > .container {
  width: 80%;
  height: 100%;
  margin: auto;
}

#cards-info > .container > #img-info {
  width: 750px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

#cards-info > .container > #img-info > img {
  width: 250px;
}

#cards-info > .container > #img-info > h2 {
  font-size: 35px;
  margin-bottom: 25px;
}

#cards-info > .container > .one-card {
  width: 100%;
  margin: 50px 0;
  padding: 70px 0;
}

#cards-info > .container > .one-card > .learnmore {
  width: 24%;
  text-align: center;
  display: inline-block;
}

#cards-info > .container > .one-card > .learnmore > img {
  width: 150px;
  margin-bottom: 20px;
}

#cards-info > .container > .one-card > .learnmore > a {
  display: inline-block;
}

#cards-info > .container > .one-card > .info {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

#cards-info > .container > .one-card > .info > h2 {
  margin-bottom: 30px;
  font-size: 25px;
}

#cards-info > .container > .one-card > .info > p {
  margin-bottom: 30px;
}

#cards-info > .container > .one-card > .info > h3 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
}

#cards-info > .container > .one-card > .info > .line {
  width: 60%;
  vertical-align: middle;
  display: inline-block;
  border-top: 2px solid #899397;
}

#cards-info > .container > .one-card > .info > ul {
  margin-top: 30px;
  list-style: none;
}

#cards-info > .container > .one-card > .info > ul > li {
  display: inline-block;
  font-size: 18px;
}

#cards-info > .container > .one-card > .info > ul > li > p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

#cards-info > .container > .cards {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  font-size: 0;
}

#cards-info > .container > .cards > .card {
  display: inline-block;
  width: 25%;
  padding-bottom: 50px;
  vertical-align: middle; /* per le immagini che danno diverze altezze ai blocchi */
  font-size: 16px;
}

#cards-info > .container > .cards > .card > img {
  width: 100px;
  margin-bottom: 30px;
  padding-top: 20px;
}

#cards-info > .container > .cards > .card > p {
  margin: 30px 30px 70px 30px;
}

#cards-info > .container > .cards > .card > .line {
  height: 2px;
  margin: 0 30px 20px 30px;
  background-color: #899397;
}

#cards-info > .container > .cards > .card > ul {
  margin: 30px 30px 70px 30px;
  list-style: none;
  text-align: left;
}

#cards-info > .container > .cards > .card > ul > li {
  margin-top: 5px;
}

#cards-info > .container > .cards > .card > ul > li > p {
  display: inline-block;
}

#cards-info > .container > .cards > .card:nth-child(2){
  margin: 0 12.5%;
}

#data-container {
  width: 100%;
  background: linear-gradient(45deg, #00a4bd, #00bda5);
}

#data-container > #data-info {
  width: 80%;
  margin: auto;
  text-align: center;
}

#data-container > #data-info > h2 {
  padding-top: 50px;
  font-size: 35px;
  color: white;
}

#data-container > #data-info > p {
  margin-top: 40px;
  color: white;
}

#data-container > #data-table {
  width: 80%;
  margin: 80px auto 0 auto;
  padding-bottom: 100px;
}

#data-container > #data-table > .row:first-of-type {
  display: block;
  border-bottom: 1px solid #fff;
}

#data-container > #data-table > .row > .cell {
  width: 24.9%;
  float: left;
  text-align: center;
  border-right: 1px solid white;
}

#data-container > #data-table > .row > .cell:nth-child(4) {
  border-right: none;
}

#data-container > #data-table > .row:nth-child(2) > .cell:nth-child(1) > img {
  width: 125px;
}

#data-container > #data-table > .row > .cell > img {
  margin-top: 40px;
}

#data-container > #data-table > .row > .cell > h2  {
  margin-top: 10px;
  color: white;
}

#data-container > #data-table > .row > .cell > h2 > span {
  font-size: 50px;
  vertical-align: middle;
}

#data-container > #data-table > .row > .cell > p {
  color: white;
  margin-bottom: 50px;
}

#customers {
  width: 100%;
}

#customers {
  width: 80%;
  margin: auto;
}

#customers > #customers-info > .left {
  width: 10%;
  float: left;
  margin-left: 10%;
  text-align: left;
}

#customers > #customers-info > .left > h2 {
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: 50px;
}

#customers > #customers-info > .left > p{
  padding-bottom: 120px;
}

#customers > #customers-info > .right {
  width: 80%;
  float: left;
  text-align: right;
}

#customers > #customers-info > .right > .row {
  width: 80%;
  margin: auto;
}

#customers > #customers-info > .right > .row:first-child {
  margin-top: 40px;
}

#customers > #customers-info > .right > .row > .image-container {
  display: inline-block;
  width: 150px;
  height: 63.9px;
  position: relative;
  margin-left: 20px;
}

#customers > #customers-info > .right > .row > .image-container > img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#customers > #gethubspot {
  width: 35%;
  float: left;
}

#customers > #gethubspot > h2 {
  font-size: 40px;
}

#customers > #gethubspot > p:first-of-type {
  margin: 30px 0 50px 0;
}

#customers > #gethubspot > .gethubspotlink {
  padding: 20px 50px;
  border-radius: 5px;
  background-color: #fa775a;
  color: white;
}

#customers > #gethubspot > p:last-of-type {
  margin: 80px 0 0 0;
  padding-bottom: 100px;
}

#customers > #person {
  width: 65%;
  float: left;
  text-align: right;
}

#customers > #person > img {
  height: 368px;
}

footer {
  width: 100%;
  background-color: #32495b;
}

footer > #footer-top {
  width: 80%;
  margin: auto;
  text-align: center;
}

footer > #footer-top > ul {
  width: 25%;
  float: left;
  margin-bottom: 50px;
  text-align: left;
  list-style: none;
}

footer > #footer-top > ul > li {
  margin: 20px 0;
}

footer > #footer-top > ul > li > h2 {
  padding: 20px 0;
  font-size: 20px;
  color: white;
}

footer > #footer-top > ul > li > a {
  color: #cad5e1;
}

footer > #footer-top > ul > li > .support {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #cad5e1;
  color: #32495b;
}

footer > #footer-top > ul > .socials > a {
  width: 10%;
  font-size: 18px;
  text-align: center;
}

footer > #footer-bottom {
  width: 80%;
  margin: auto;
}

footer > #footer-bottom > ul {
  padding-bottom: 5px;
  border-bottom: 1px solid #cad5e1;
  text-align: center;
  list-style: none;
}

footer > #footer-bottom > ul > li {
  display: inline-block;
  margin: 0 20px;
}

footer > #footer-bottom > ul > li > a {
  font-size: 20px;
  color: #cad5e1;
}

footer > #footer-bottom > .container {
  margin-top: 50px;
  padding-bottom: 50px;
}

footer > #footer-bottom > .container > .left {
  float: left;
}

footer > #footer-bottom > .container > .left > p {
  color: #cad5e1;
}

footer > #footer-bottom > .container > ul {
  float: right;
  vertical-align: top;
  list-style: none;
}

footer > #footer-bottom > .container > ul > li {
  display: inline-block;
  margin: 0 10px;
}

footer > #footer-bottom > .container > ul > li > a {
  color: #cad5e1;
}
/* /specifici */
