* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
}

#header-top {
  width: 100%;
  padding: 30px 0;
  margin: auto;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

#header-top > .container {
  width: 80%;
  margin: auto;
}

#header-top > .container > #languages {
  border-right: 1px solid black;
}

#header-top > .container > a:first-child {
  padding: 0 10px 0 0;
}

#header-top > .container > a {
  padding: 0 10px;
  color: #32495b;
}

#header-top > .container > .right {
  float: right;
}

#header-top > .container > .right > .fas.fa-search {
  color: #27a4bd;
}

#header-top > .container > .right > #login {
  padding: 10px;
  color: #fa775a;
  border: 1px solid #fa775a;
  border-radius: 5px;
  margin: 0px 20px;
}

#header-top > .container > .right > .gethubspotlink {
  padding: 10px;
  color: white;
  background-color: #fa775a;
  border-radius: 5px;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 25px 0;
  background-color: white;
}

nav > .container {
  width: 80%;
  margin: auto;
}

nav > .container > img {
  vertical-align: middle;
}

nav > .container > .menu {
  list-style: none;
  float: right;
  margin-top: 5px;
}

nav > .container > .menu > .menuitem {
  display: inline-block;
}

nav > .container > .menu > .menuitem > a {
  color: #32495b;
  padding: 0 10px;
}

#modern-block {
  height: 100vh;
  background-image: url("img/jumbotron.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#modern-block > #modern-block-info {
  margin-left: 10%;
  width: 600px;
  color: #32495b;
}

#modern-block > #modern-block-info > h1 {
  padding-top: 50px;
  margin-bottom: 30px;
  font-size: 50px;
}

#modern-block > #modern-block-info > p:first-of-type {
  margin-bottom: 60px;
}

#modern-block > #modern-block-info > .gethubspotlink {
  padding: 20px 50px;
  color: white;
  background-color: #fa775a;
  border-radius: 5px;
}

#modern-block > #modern-block-info > p:last-of-type {
  margin-top: 60px;
}

#cards-info {
  width: 100%;
  height: 1200px;
  background-color: yellow;
}

#cards-info > .container {
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: black;
}

#cards-info > .container > .img-info {
  width: 100%;
  height: 400px;
  background-color: brown;
}

#cards-info > .container > .one-card {
  width: 100%;
  height: 300px;
  background-color: blue;
}

#cards-info > .container > .cards {
  width: 100%;
  height: 500px;
  background-color: green;
  text-align: center;
  font-size: 0;
}

#cards-info > .container > .cards > .card {
  width: 25%;
  height: 400px;
  background-color: pink;
  display: inline-block;
  margin-top: 50px;
}

#cards-info > .container > .cards > .card:nth-child(2){
  margin: 0 12.5%;
}

#data-container {
  width: 100%;
  height: 950px;
  background-color: red;
}

#data-container > #data-info {
  width: 80%;
  height: 250px;
  margin: auto;
  background-color: grey;
}

#data-container > #data-table {
  width: 80%;
  height: 700px;
  margin: auto;
  background-color: black;
}

#customers {
  width: 100%;
  height: 1000px;
  background-color: pink;
}

#customers > #customers-info {
  width: 80%;
  height: 250px;
  margin: auto;
  background-color: green;
}

#customers > .box {
  width: 40%;
  height: 750px;
  float: left;
}

#customers > #gethubspot {
  margin-left: 10%;
  background-color: blue;
}

#customers > #person {
  background-color: red;
}

footer {
  width: 100%;
  height: 500px;
  background-color: grey;
}

footer > #footer-top{
  width: 80%;
  height: 400px;
  margin: auto;
  background-color: yellow;
}

footer > #footer-bottom {
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: red;
}
