/* generici */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

header h1, header h2, header h3 header, h4, header h5, header h6, header a, header p {
  color: #32495b;
}

nav h1, nav h2, nav h3 nav, h4, nav h5, nav h6, nav a, nav p {
  color: #32495b;
}

main h1, main h2, main h3, main h4, main h5, main h6, main a, main p {
  color: #32495b;
}

.box {
  background-color: white;
  box-shadow: 0px 0px 3px 3px#e6ecf1;
  border-radius: 5px;
}
/* generici */


/* specifici */
header {
  width: 100%;
}

#header-top {
  width: 100%;
  padding: 30px 0;
  margin: auto;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

#header-top > .container {
  width: 80%;
  margin: auto;
}

#header-top > .container > #languages {
  border-right: 1px solid black;
}

#header-top > .container > a:first-child {
  padding: 0 10px 0 0;
}

#header-top > .container > a {
  padding: 0 10px;
}

#header-top > .container > .right {
  float: right;
}

#header-top > .container > .right > .fas.fa-search {
  color: #27a4bd;
}

#header-top > .container > .right > #login {
  margin: 0px 20px;
  padding: 10px;
  color: #fa775a;
  border: 1px solid #fa775a;
  border-radius: 5px;
}

#header-top > .container > .right > .gethubspotlink {
  padding: 10px;
  color: white;
  background-color: #fa775a;
  border-radius: 5px;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 25px 0;
  background-color: white;
}

nav > .container {
  width: 80%;
  margin: auto;
}

nav > .container > img {
  vertical-align: middle;
}

nav > .container > .menu {
  margin-top: 5px;
  list-style: none;
  float: right;
}

nav > .container > .menu > .menuitem {
  display: inline-block;
}

nav > .container > .menu > .menuitem > a {
  padding: 0 10px;
}

#modern-block {
  height: 100vh;
  background-image: url("img/jumbotron.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#modern-block > #modern-block-info {
  width: 600px;
  margin-left: 10%;
}

#modern-block > #modern-block-info > h1 {
  margin-bottom: 30px;
  padding-top: 50px;
  font-size: 50px;
}

#modern-block > #modern-block-info > p:first-of-type {
  margin-bottom: 60px;
}

#modern-block > #modern-block-info > .gethubspotlink {
  padding: 20px 50px;
  color: white;
  background-color: #fa775a;
  border-radius: 5px;
}

#modern-block > #modern-block-info > p:last-of-type {
  margin-top: 60px;
}

#cards-info {
  width: 100%;
  background-color: #f4f9fd;
}


#cards-info > .container {
  width: 80%;
  height: 100%;
  margin: auto;
}

#cards-info > .container > #img-info {
  width: 750px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

#cards-info > .container > #img-info > img {
  width: 250px;
}

#cards-info > .container > #img-info > h2 {
  font-size: 35px;
  margin-bottom: 25px;
}

#cards-info > .container > .one-card {
  width: 100%;
  padding: 70px 0;
  margin: 50px 0;
}

#cards-info > .container > .one-card > .learnmore {
  width: 24%;
  text-align: center;
  display: inline-block;
}

#cards-info > .container > .one-card > .learnmore > img {
  width: 150px;
  margin-bottom: 20px;
}

#cards-info > .container > .one-card > .learnmore > a {
  display: inline-block;
  color: white;
  background-color: #fa775a;
  padding: 20px 35px;
  border-radius: 5px;
}

#cards-info > .container > .one-card > .info {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

#cards-info > .container > .one-card > .info > h2 {
  margin-bottom: 30px;
  font-size: 25px;
}

#cards-info > .container > .one-card > .info > p {
  margin-bottom: 30px;
}

#cards-info > .container > .one-card > .info > h3 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
}

#cards-info > .container > .one-card > .info > .line {
  width: 60%;
  vertical-align: middle;
  display: inline-block;
  border-top: 2px solid #899397;
}

#cards-info > .container > .one-card > .info > ul {
  list-style: none;
  margin-top: 30px;
}

#cards-info > .container > .one-card > .info > ul > li {
  display: inline-block;
  font-size: 18px;
}

#cards-info > .container > .one-card > .info > ul > li > i {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  background-color: #fa775a;
  color: white;
  font-size: 14px;
}

#cards-info > .container > .one-card > .info > ul > li > p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

#cards-info > .container > .cards {
  width: 100%;
  height: 500px;
  background-color: green;
  text-align: center;
  font-size: 0;
}

#cards-info > .container > .cards > .card {
  width: 25%;
  height: 400px;
  background-color: pink;
  display: inline-block;
  margin-top: 50px;
}

#cards-info > .container > .cards > .card:nth-child(2){
  margin: 0 12.5%;
}

#data-container {
  width: 100%;
  height: 950px;
  background-color: red;
}

#data-container > #data-info {
  width: 80%;
  height: 250px;
  margin: auto;
  background-color: grey;
}

#data-container > #data-table {
  width: 80%;
  height: 700px;
  margin: auto;
  background-color: black;
}

#customers {
  width: 100%;
  height: 1000px;
  background-color: pink;
}

#customers > #customers-info {
  width: 80%;
  height: 250px;
  margin: auto;
  background-color: green;
}

#customers > .box {
  width: 40%;
  height: 750px;
  float: left;
}

#customers > #gethubspot {
  margin-left: 10%;
  background-color: blue;
}

#customers > #person {
  background-color: red;
}

footer {
  width: 100%;
  height: 500px;
  background-color: grey;
}

footer > #footer-top{
  width: 80%;
  height: 400px;
  margin: auto;
  background-color: yellow;
}

footer > #footer-bottom {
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: red;
}
/* /specifici */
